/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*{
    font-family: 'PT Serif', serif;
}
/* header*/
header,.read{
    background-color: #FFC017;
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}
/* trending */
.trending{
    border-bottom: 1px solid #E6E6E6;
}